<form method="post" action="{{ path('student_delete', {'id': student.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet(te) élève ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ student.id) }}">
    <button class="btn">Supprimer</button>
</form>
