{{ form_start(form_student) }}
    <table class="table">
        <tbody>
        <tr>
            <th>Prénom</th>
            <td>{{ form_widget(form_student.firstName) }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ form_widget(form_student.lastName) }}</td>
        </tr>
        <tr>
            <th>Date de naissance</th>
            <td>{{ form_widget(form_student.birthday) }}</td>
        </tr>
        </tbody>
    </table>

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form_student) }}
