{% extends 'base.html.twig' %}

{% block title %}Edition{% endblock %}

{% block body %}
    <h1>Editer cet(te) élève</h1>

    {{ include('student/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('student_index') }}">Retour à la liste</a>

    {{ include('student/_delete_form.html.twig') }}
{% endblock %}
