{% extends 'base.html.twig' %}

{% block title %}New Student{% endblock %}

{% block body %}
    <h1>Ajouter un(e) nouvel(le) élève</h1>

    {{ include('student/_form.html.twig') }}

    <a href="{{ path('student_index') }}">Retour à la liste</a>
{% endblock %}
