{% extends 'base.html.twig' %}

{% block title %}Fiche élève{% endblock %}

{% block body %}
    <h1>Fiche élève</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Prénom</th>
                <td>{{ student.firstName }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ student.lastName }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ student.birthday ? student.birthday|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>
                {% for grade in grades %}
                    {{ grade.value ~ ','}}
                {% endfor %}
                    {{ form_start(grade_form) }}
                    {{ form_widget(grade_form.value) }}
                    <button class="btn">{{ button_label|default('Save') }}</button>
                    {{ form_end(grade_form) }}

                </td>
            </tr>
        </tbody>
        <tbody>
        <tr>
            <th>Moyenne pour {{ student.firstName }}</th>
            <td> {{ average|round(2, 'ceil') }} </td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('student_index') }}">Retour à la liste</a>

    <a href="{{ path('student_edit', {'id': student.id}) }}">Editer {{ student.firstName }} {{ student.lastName }}</a>

    {{ include('student/_delete_form.html.twig') }}
{% endblock %}

